/* 
Modified version of style.css by sameemul-haque
Find on github at https://github.com/sameemul-haque/dotfiles
 */
* {
  border: none;
  border-radius: 0;
  min-height: 0px;
  font-family: JetBrainsMono Nerd Font;
  font-family: "Nimbus Sans", sans-serif;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
  color: #fbf1c7;
}

window#waybar {
  background-color: #282828;
  transition-property: background-color;
  transition-duration: 0.5s;
  background:transparent;
  margin:7px;
  padding: 5px;
}

#workspaces button {
  all: initial;
  /* Remove GTK theme values (waybar #1351) */
  /* Fix weird spacing in materia (waybar #450) */
  box-shadow: inset 0 -3px transparent;
  /* Use box-shadow instead of border so the text isn't offset */

  margin-left: 3px;
  color: #fbf1c7;
  transition: background-color 0.3s ease;
  border: 0.5px solid #3c3836;

}

#workspaces button.active {
  color: #fbf1c7;
  /*background-color: #504945;*/
  transition: background-color 0.3s ease;
  border: 0.5px solid #fbf1c7;
  opacity: 1;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #fbf1c7;
  background-color: #504945;
  transition: background-color 0.3s ease;
}

#workspaces button.urgent {
  background-color: #cc241d;
}

#waybar {
/*    margin:10px;
*/
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: transparent;
}
#workspaces button, 
#memory,
#custom-power,
#battery,
#backlight,
#wireplumber,
#network,
#custom-volume-bar,
#pulseaudio,
#clock,
#tray {

  border-radius: 122px;
  padding: 0px 6px;
  margin-top: 3px;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 0px;
  background-color: #3c3836;
  color: #181825;
  color: #fbf1c7;
  background-color: #282828;
  opacity: 0.85;


}

#workspaces button  {
  padding-top: 1px;
  padding-left: 5px;
  padding-right: 5px;

}
 



#memory,
#custom-power,
#battery,
#backlight,
#wireplumber,
#network,
#custom-volume-bar,
#pulseaudio,
#clock,
#tray {
  padding-top: 0;
  border: 0.5px solid #fbf1c7;
  border: 0.5px solid #3c3836;
}




#custom-logo {
  padding-right: 7px;
  padding-left: 7px;
  margin-left: 5px;
  font-size: 15px;
  border-radius: 8px 0px 0px 8px;
  color: #1793d1;
}
#battery.full {
  background-color: #8ec57c;
}

#battery.warning,
#battery.critical,
#battery.urgent {
  background-color: #ff0000;
  background-color: #c75a5a;
  /*color: #FFFF00;
   */
}

#battery.charging {
  background-color: #8ec07c;
}

#backlight {
  background-color: #fab387;
}

#custom-volume-bar {
  padding: 0 10px;
}

#network {
}


#custom-power:hover, #clock:hover, #pulseaudio:hover, #battery:hover, #workspaces button:hover{
  /*
  background-color: #504945; 
  */
  background-color: #282828;
  transition: background-color 0.3s ease;
  opacity: 1;
}



tooltip {
  border-radius: 6px;
  padding: 0px;
  background-color: #282828;
  border: 0.5px solid #fbf1c7;
}

tooltip label {
  background-color: #282828;
}

#clock  {
  padding-top: 1px;
}

#pulseaudio {
  padding-right: 6px;
}
